extends default

block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
	script.
		var allowSave = true;
		
		function select(type) {
			if(type == 1) {
				var values = $('#availableDropdown').val();
				for(var i=0; i<values.length; i++) {
					$('#coverDropdown').append($('<option></option>').text(values[i]));
				}
				$('#availableDropdown').find(":selected").remove();
			}
			
			if(type == 0) {
				var values = $('#coverDropdown').val();
				for(var i=0; i<values.length; i++) {
					$('#availableDropdown').append($('<option></option>').text(values[i]));
				}
				$('#coverDropdown').find(":selected").remove();
			}
			
			if($('#coverDropdown option').length == 0){
				allowSave = false;
			} else {
				allowSave = true;
			}
		}

		function save() {
			if(allowSave === true) {
				var cover = 
				{
					date : "#{date}",
					year : "#{year}",
					subject : "#{subject}",
					teachers : []
				};
				
				$("#coverDropdown option").each(function() {
					cover.teachers.push({"name" : $(this).text()});
				});
							
				$.ajax({
					type: 'POST',
					url: '/server',
					contentType: 'application/json',
					data: JSON.stringify(cover),
					success: function (result) {
						if(result.status == 200) {
							$('#alertSuccess').fadeOut().fadeIn('medium');
						} else if(result.status == 404) {
							$('#alertFailed').fadeOut().fadeIn('medium');
						}
					},
					error: function(result, exception) {
						$('#alertFailed').fadeOut().fadeIn('medium');
					}
				});

			} else {
				$('#alertEmpty').fadeOut().fadeIn('medium');
			}
		}
		
		function back() {
			location.href = './Attendance?date=' + "#{date}";
		}

		$(document).ready(function() {
			var date = "!{date}";
			var d = new Date(date);
			var today = new Date();
			
			if(d <= today) {
				document.getElementById("btnsubmit").disabled = true;
				$('#alertPast').fadeOut().fadeIn('medium');
			}
		});
		

block content
	div.form

		div#alertPast.alert.alert-warning(role="alert") This cover is for a past date. You will not be able to make changes to it.
		div#alertSuccess.alert.alert-success(role="alert") Cover updated successfully.
			button.close(type="button" onclick="$('#alertSuccess').fadeOut()") &times;
		div#alertFailed.alert.alert-danger(role="alert") Cover failed to be updated. Please raise to management.
			button.close(type="button" onclick="$('#alertFailed').fadeOut()") &times;
		div#alertEmpty.alert.alert-danger(role="alert") There are no cover available for this class, therefore you cannot save. Please arrange cover for this class.
			button.close(type="button" onclick="$('#alertEmpty').fadeOut()") &times;	

		div.label
			label.heading Date :
			label #{date}
		div.label
			label.heading Year :
			label #{year}
		div.label
			label.heading Subject :
			label #{subject}			

		table
			tr
				th.update Available
				th
				th.update Cover
			tr
				td
					select#availableDropdown.selectpicker(multiple="multiple")
						each teacher in teachers
							unless(cover && cover.find(c => c.name === teacher.name))
								option(value=teacher.name) #{teacher.name}
				td
					button.form(type='button' onclick='select(1)') &gt;
					br
					button.form(type='button' onclick='select(0)') &lt;
				td
					select#coverDropdown.selectpicker(multiple="multiple")
						each teacher in cover
							option #{teacher.name}

		div
			button.form(type='button' onclick='back()') Back
			button#btnsubmit.form(type='button' onclick='save()') Submit
